{% extends 'template/template.twig' %}
{% block content %}

    <div class="btnWrapper">
    	 <a href='/cadastro/tipo-operador'><img class='botaoTipoOperador' src='/img/tipoOperadorbotao.jpg'></a>
    </div>
    <div class="btnWrapper">
    	 <a href='/cadastro/operador'><img class='botaoOperador' src='/img/OperadorBotao.jpg'>
    </div>
    <div class="btnWrapper">
    	 <a href='/cadastro/paciente'><img class='botaoPaciente' src='/img/PacienteBotao.jpg'>
    </div>
    <div class="btnWrapper">
    	 <a href='/cadastro/campus'><img class='botaoCampus' src='/img/CampusBotao.jpg'>
    </div>
{% endblock %}
