{% extends 'template/template.twig' %}
{% block content %}


    <form class="form-horizontal form-padrao" id="formCampus" method="post" action="/cadastro/salvar/salvarCampus">

        <div class="form-group">
            <label for="descricao" class="col-sm-2 control-label">Campus</label>

            <div class="col-sm-6">
                <input type="text" class="form-control uppercase" name="nome"
                       id="nome" placeholder="Campus" value="">
            </div>
        </div>

        <input type="hidden" id="id" name="id">

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span> Salvar
                </button>
                <a class="btn btn-default" href="/home"><i
                            class="glyphicon glyphicon-remove"></i> Cancelar</a>
            </div>
        </div>

    </form>

{% endblock %}
