{% extends 'template/template.twig' %}
{% block content %}


    <form class="form-horizontal form-padrao" id="formOperador" method="post" action="/cadastro/salvar/operador">

        <div class="form-group">
            <label for="nome" class="col-sm-2 control-label">Nome</label>

            <div class="col-sm-8 col-md-3">
                <input type="text" class="form-control uppercase" name="nome"
                       id="nome" placeholder="" value="">
            </div>
        </div>

        <div class="form-group">
            <label for="login" class="col-sm-2 control-label">Usuário</label>

            <div class="col-sm-8 col-md-3">
                <input type="text" class="form-control uppercase" name="login"
                       id="login" placeholder="" value="">
            </div>
        </div>

        <div class="form-group">
            <label for="senha" class="col-sm-2 control-label">Senha</label>

            <div class="col-sm-8 col-md-3">
                <input type="password" class="form-control uppercase" name="senha"
                       id="senha" placeholder="" value="">
            </div>
        </div>

        <div class="form-group">
            <label for="documento" class="col-sm-2 control-label">Documento</label>

            <div class="col-sm-8 col-md-3">
                <input type="text" class="form-control uppercase" name="documento"
                       id="documento" placeholder="Campo não obrigatório" value="">
            </div>
        </div>

        <div class="form-group">
            <label for="campus_id" class="col-sm-2 control-label">Tipo</label>

            <div class="col-sm-4">
                <select class="form-control" name="tipo_operador" id="tipo_operador">
                    <option value="">Selecione</option>
                    {% for item in listaTipoOperador %}
                        <option value={{ item.getId }}>{{ item.getDescricao }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


        <input type="hidden" id="id" name="id">

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span> Salvar
                </button>
                <a class="btn btn-default" href="/"><i
                            class="glyphicon glyphicon-remove"></i> Cancelar</a>
            </div>
        </div>

    </form>

{% endblock %}
